body {
    font-family: 'Helvetica', sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    z-index: 100;
  }
  
  .navbar a {
    text-decoration: none;
    color: black;
  }
  
  .navbar a.active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    text-decoration-skip-ink: none;
    color: #d00000; 
  }
  
  .left-section,
  .right-section {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .logo { 
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .left-section a:hover,
  .right-section a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    text-decoration-skip-ink: none;
    color: #d00000; 
  }
  
  .lookbook, .about {
    margin-left: 75px;
  }
  
  .account, .cart {
    margin-right: 75px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    margin-top: 150px;
    margin-left: 500px;
    margin-right: 450px;
  }
  
  input[type="email"],
  input[type="password"] {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: none;
    outline: none;
    color: black;
    border-bottom: 2px solid black;
  }

input[type="email"]::placeholder,
input[type="password"]::placeholder {
font-family: "Helvetica2", sans-serif; 
letter-spacing: none;
}

  button[type="submit"] {
    width: auto;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  input[type="email"],
  input[type="password"],
  button[type="submit"] {
  font-family: "Helvetica", sans-serif; 
  letter-spacing: 0.5px;
}
  
  

footer.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  z-index: 100;
}

footer.footer a {
  text-decoration: none;
  color: black;
}

footer.footer a.active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  text-decoration-skip-ink: none;
  color: #d00000; 
}

footer .left-section,
footer .right-section {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer .left-section a:hover,
footer .right-section a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  text-decoration-skip-ink: none;
  color: #d00000; 
}

footer .TOS,
footer .TAC {
  margin-left: 75px;
}

footer .SAR,
footer .contact {
  margin-right: 75px;
}
